<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1>Travel Blog Homepage!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue tempor justo ac dignissim. Quisque a metus dui. Suspendisse potenti. Proin pretium ut ipsum sit amet cursus. Duis eget arcu ut ante laoreet mollis. Integer elementum ante eu purus vulputate, in convallis diam rutrum. Mauris eget quam non felis elementum fermentum. Nulla sed magna non nibh venenatis viverra. Aliquam erat volutpat. Nam vitae ligula consectetur, mattis nisi in, blandit ante. Proin auctor felis diam, eu congue risus tincidunt at. Nulla ullamcorper eu leo nec feugiat. Proin porta scelerisque vehicula.<p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue tempor justo ac dignissim. Quisque a metus dui. Suspendisse potenti. Proin pretium ut ipsum sit amet cursus. Duis eget arcu ut ante laoreet mollis. Integer elementum ante eu purus vulputate, in convallis diam rutrum. Mauris eget quam non felis elementum fermentum. Nulla sed magna non nibh venenatis viverra. Aliquam erat volutpat. Nam vitae ligula consectetur, mattis nisi in, blandit ante. Proin auctor felis diam, eu congue risus tincidunt at. Nulla ullamcorper eu leo nec feugiat. Proin porta scelerisque vehicula.<p>
    <hr>
    <nav>
        <a href="{}">About Me</a>
        <a href="{}">Cornwall</a>
        <a href="{}">Devon</a>
    </nav>

</body>
</html>